Apart from Inbuild functions which we have python, We can create a funcation by our own

In [1]:
def test(): # Here def stands for definition of a function and test() stands for name of function which we going to create
    pass

In [2]:
def test1():
    print('this is my first function')

In [3]:
test1() # Here we call the function which we create, It will give the contiction which we give

this is my first function

In [4]:
type(test1)

function

In [5]:
def test2():
    return 'this is my function with return'

In [6]:
test2()

'this is my function with return'

In [7]:
test2()+ ' By hari'

'this is my function with return By hari'

In [8]:
def test3():
    return 1,4,'pw_skills', 34.56

In [9]:
test3()

(1, 4, 'pw_skills', 34.56)

In [10]:
test3()[2]

'pw_skills'

In [11]:
def test4():
    a = 3 * 4 + 5
    return a

In [12]:
test4()

17

In [13]:
def test5(a,b):
    c= a + b
    return c

In [14]:
test5(5,4)

9

In [15]:
test5('hari','krishna')

'harikrishna'

In [16]:
test5([1,2,3,4],[5,6,7,8])

[1, 2, 3, 4, 5, 6, 7, 8]

In [17]:
test5(b='krishna',a='hari')

'harikrishna'

In [18]:
l = [1,2,3,4,'hari',5.4,5,[5,1,7,3]]

Create a function which will take list as input and give me a final list with all the numeric value

In [19]:
def test6(a):
    n = []
    for i in a:
        if type(i)==str:
            continue
        else:
            n.append(i)

    return n

In [20]:
test6(l)

[1, 2, 3, 4, 5.4, 5, [5, 1, 7, 3]]

In [21]:
l1 = [1,2,3,4,'hari',5.4,5,[5,1,7,3,'k']]

In [26]:
def test7(a):
    n1=[]
    for i in a:
        if type(i)==list:
            for j in i:
                if type(j)==int or type(j)==float:
                    n1.append(j)

        else:
            if type(i)==int or type(i)==float:
                n1.append(i)

            #else:
            #    continue

    return n1

In [31]:
l

[1, 2, 3, 4, 'hari', 5.4, 5, [5, 1, 7, 3]]

In [27]:
test7(l)

[1, 2, 3, 4, 5.4, 5, 5, 1, 7, 3]

In [32]:
l1

[1, 2, 3, 4, 'hari', 5.4, 5, [5, 1, 7, 3, 'k']]

In [29]:
test7(l1)

[1, 2, 3, 4, 5.4, 5, 5, 1, 7, 3]

In [77]:
def test8(a,b,c,d,e):
    pass

In [78]:
test8(1,2,3)

TypeError: test8() missing 2 required positional arguments: 'd' and 'e'

In [79]:
test8(1,2,3,4,5,6)

TypeError: test8() takes 5 positional arguments but 6 were given

Try to create a function which can pass any number of arguments

In [81]:
def test9(*args): # it means it can take any number of arguments important note args is not a keyword
    return args

In [82]:
test9(1,2,3)

(1, 2, 3)

In [83]:
test9(1,2,3,4,5,6)

(1, 2, 3, 4, 5, 6)

In [84]:
test9('hari',(1,2,3,4),[4,5,6,7,8,9])

('hari', (1, 2, 3, 4), [4, 5, 6, 7, 8, 9])

In [85]:
def test10(*val,a):
    return val,a

In [86]:
test10(1,2)

TypeError: test10() missing 1 required keyword-only argument: 'a'

In [87]:
# here we have to mention the value of the other variable(a)
test10(1,2,a=3)

((1, 2), 3)

In [103]:
def test11(*val):
    n = []
    for i in val:
        if type(i)==list:
            for i in i:
                n.append(i)

    return n

In [104]:
test11(1,2,3,[4,5,6,7],'hari',(4,4,66),[7,5,6,48,'hari'])

[4, 5, 6, 7, 7, 5, 6, 48, 'hari']

In [107]:
def test12(**val): # this will return value as dictionary format
    return val

In [108]:
test12(a=[4,5,6,7],b='hari',c=(4,4,66),d=[7,5,6,48,'hari'])

{'a': [4, 5, 6, 7], 'b': 'hari', 'c': (4, 4, 66), 'd': [7, 5, 6, 48, 'hari']}

In [109]:
def test13(**val):
    for i in val:
        if type(val[i])==list:
            return i , val[i]

In [110]:
test13(a=[4,5,6,7],b='hari',c=(4,4,66),d=[7,5,6,48,'hari'])

('a', [4, 5, 6, 7])

GENERATOR FUNCTION

In [120]:
# create def for generate fiboncci series:
def test_fib(n):
    a,b=0,1
    for i in range(0,n):
        yield a
        a ,b = b, b+a

In [121]:
test_fib(10)

In [122]:
for i in test_fib(10):
    print (i)

0
1
1
2
3
5
8
13
21
34

### LAMBDA FUNCTION
    
    A lambda function is a small anonymous function.

    A lambda function can take any number of arguments, but can only have one expression.

##### syntax

    function_name = lambda input_variables_name : function

In [6]:
a = lambda a,b: (a+b)

In [7]:
a(5,9)

14

In [8]:
maxi = lambda x,y: x if x > y else y

In [9]:
maxi(2,4)

4

In [10]:
maxi(9,1)

9

## MAP , REDUCE & FILTER FUNCTIONS

In [12]:
l=[1,2,3,4,5]

In [17]:
def test_(a):
    l1=[]
    for i in l:
        l1.append(i**2)
    return l1

In [18]:
test_(l)

[1, 4, 9, 16, 25]

another way (By using map function in a single line)

In [20]:
def sq(x): # creating external function
    return x**2

In [23]:
l

[1, 2, 3, 4, 5]

In [21]:
map(sq,l)

In [22]:
list(map(sq,l))

[1, 4, 9, 16, 25]

single line function using lambda and map

In [25]:
list(map(lambda x: x**3,l)) # here lambda will act as external function

[1, 8, 27, 64, 125]

In [26]:
l1=[1,23,4,656,5]
l2=[7,8,9,4,5]

In [27]:
list(map(lambda x,y: x+y,l1,l2))

[8, 31, 13, 660, 10]

REDUCE

    this function need to import from functools

In [28]:
from functools import reduce

In [32]:
i=[1,2,3,4,5,6]

In [33]:
reduce(lambda x,y: x+y,i)

21

FILTER

In [35]:
# filter only a even number

list(filter(lambda x : x%2==0,range(11)))

[0, 2, 4, 6, 8, 10]

In [36]:
# filter only a odd number

list(filter(lambda x : x%2!=0,range(11)))

[1, 3, 5, 7, 9]

In [39]:
l3=['hari','krishna','pwskills','data','science','master']

In [42]:
list(filter(lambda x : len(x) < 6 ,l3))

['hari', 'data']

:

##### Hands_on

    interchange first and last elements in a list

In [53]:
def inter(lst):
    a=lst[0]

    b=lst[-1]

    lst.pop(0)

    lst.pop(len(lst)-1)

    lst.insert(0,b)

    lst.append(a)

    return lst

In [70]:
n = [12, 35, 9, 56, 24]

In [71]:
inter(n)

[24, 35, 9, 56, 12]

In [72]:
n

[24, 35, 9, 56, 12]

In [73]:
def interchange(lst):
    a=lst[0]
    lst[0] = lst[len(lst)-1]
    lst[len(lst)-1]=a

    return lst

In [74]:
interchange(n)

[12, 35, 9, 56, 24]

In [75]:
def interchange(lst):
#    a=lst[0]
    lst[0] ,lst[len(lst)-1]= lst[len(lst)-1] , lst[0]
#    lst[len(lst)-1]=a

    return lst

In [76]:
interchange(n)

[24, 35, 9, 56, 12]