# set

In [1]:
s={}

In [2]:
type(s)

dict

In [3]:
s1={1,2,3}

In [4]:
type(s1)

set

set's allways try to hold unique elements

In [5]:
s2={1,2,2,4,44,3,5,6,41,5,67,5,8}

In [6]:
s2

{1, 2, 3, 4, 5, 6, 8, 41, 44, 67}

converting a set to tuple or list is possible

In [7]:
s3=list(s2)
s3

[1, 2, 3, 4, 5, 6, 67, 8, 41, 44]

In [8]:
s4=tuple(s2)
s4

(1, 2, 3, 4, 5, 6, 67, 8, 41, 44)

Like list and tuple we can't store a list in set

but we can store a tuple in set, because both tuple and set or immutable

In [9]:
s5={1,2,3,4,5,['hari',7,9,8]}
s5

TypeError: unhashable type: 'list'

In [10]:
s6={1,2,3,4,5,('hari',7,9,8)}
s6

{('hari', 7, 9, 8), 1, 2, 3, 4, 5}

In [11]:
s7={'Hari','hari',1.2,3,4,5}
s7

{1.2, 3, 4, 5, 'Hari', 'hari'}

In set we can't extract a values (It is not subscripatable)

In [ ]:
# we can't slice a set
s7[0]

TypeError: 'set' object is not subscriptable

we can extract (subscipte) element from set

In [12]:
for i in s7:
    print(i)

1.2
hari
3
4
5
Hari

In [13]:
s7.add(34)

In [14]:
s7

{1.2, 3, 34, 4, 5, 'Hari', 'hari'}

In [15]:
len(s7)

7

In [16]:
s7.pop()

1.2

In [17]:
s7

{3, 34, 4, 5, 'Hari', 'hari'}

In [18]:
s8={1,2,3,4}
s9={1,2,3,9}

In [19]:
s8.difference(s9)

{4}

## Dictionary

In [20]:
d={}

In [21]:
type(d)

dict

In [22]:
d1={'name':'Hari', 'email':'harikrishna_@hotmail.com','number':9488161195,'sex':'Male'}

In [23]:
d1[0]

KeyError: 0

In [24]:
type(d1)

dict

In [ ]:
d1

{'name': 'Hari',
 'email': 'harikrishna_@hotmail.com',
 'number': 9488161195,
 'sex': 'Male'}

#### We have certain structions
have to give a unique key name, if not then value of the key will over wirted

In [25]:
d2={'name':'Hari','name':'krishna' ,'email':'harikrishna_@hotmail.com','number':9488161195,'sex':'Male'}

In [26]:
d2

{'name': 'krishna',
 'email': 'harikrishna_@hotmail.com',
 'number': 9488161195,
 'sex': 'Male'}

In [27]:
d2['name']

'krishna'

we some rest
key can be boolean, numeric (integer,float ) but special case charactor not allowed to key of dict

In [28]:
d3={@:'abc'}

SyntaxError: invalid syntax (<ipython-input-28-cf68af757c60>, line 1)

List's and Set's are not allowed to be key of dict., In case of tuple it's different

In [29]:
d3={[1,2,3,4]:'abc'}

TypeError: unhashable type: 'list'

In [30]:
d3={(1,2,3):'abc'}

In [31]:
d3

{(1, 2, 3): 'abc'}

In [32]:
d4={{1,2,3}:'abc'}

TypeError: unhashable type: 'set'

In case of values can use list,tuple,dictionary as values

In [33]:
d5={'course_name':['datas science','web dev','full stack']}

In [34]:
d5

{'course_name': ['datas science', 'web dev', 'full stack']}

In [35]:
d6={'course_name':('datas science','web dev','full stack')}

In [36]:
d6

{'course_name': ('datas science', 'web dev', 'full stack')}

In case of using dictionary as value of key of a dictionary, this action make a nested dictionary

In [39]:
d7={'student_Id':{'course_name':['datas science','web dev','full stack']}}

In [41]:
#nested Dictionary
d7

{'student_Id': {'course_name': ['datas science', 'web dev', 'full stack']}}

In [42]:
d8={'batch name':['data science','full stack','web dev'],'start_date':(28,14,21),'mentor_name':{'krish','sudh','hitesh','navin'}}
d8

{'batch name': ['data science', 'full stack', 'web dev'],
 'start_date': (28, 14, 21),
 'mentor_name': {'hitesh', 'krish', 'navin', 'sudh'}}

In [45]:
d8['timing']=(8,8.30,9.30)

In [46]:
d8

{'batch name': ['data science', 'full stack', 'web dev'],
 'start_date': (28, 14, 21),
 'mentor_name': {'hitesh', 'krish', 'navin', 'sudh'},
 'timing': (8, 8.3, 9.3)}