# set

    Sets are used to store multiple items in a single variable.

    Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

        A set is a collection which is unordered, unchangeable*, and unindexed.

        Mutable

Sets are written with curly brackets.

In [1]:
s={}

In [2]:
type(s)

dict

In [3]:
s1={1,2,3}

In [4]:
type(s1)

set

Sets are unordered, so you cannot be sure in which order the items will appear.

In [47]:
s2 = {"apple", "banana", "cherry", True, 1, 2}

print(s2)

{'apple', 2, True, 'cherry', 'banana'}

#### Duplicates Not Allowed
Sets cannot have two items with the same value.
So the the values which set contains are unique

In [48]:
s3={1,2,2,4,44,3,5,6,41,5,67,5,8}
s3

{1, 2, 3, 4, 5, 6, 8, 41, 44, 67}

converting a set to tuple or list is possible

In [7]:
s3=list(s2)
s3

[1, 2, 3, 4, 5, 6, 67, 8, 41, 44]

In [8]:
s4=tuple(s2)
s4

(1, 2, 3, 4, 5, 6, 67, 8, 41, 44)

##### Set Items - Data Types
Set items can be of any data type:

In [52]:
s5 = {"apple", "banana", "cherry"}
s6 = {1, 5, 7, 9, 3}
s7 = {True, False, False}
s8={'hari',27,5.11,True}

In [53]:
print(s5)
print(s6)
print(s7)
print(s8)

{'apple', 'banana', 'cherry'}
{1, 3, 5, 7, 9}
{False, True}
{True, 'hari', 27, 5.11}

values of set cannot be in the form of list

In [55]:
s9={1,2,3,4,5,['hari',7,9,8]}
s9

TypeError: unhashable type: 'list'

but we can store a tuple in set, because both tuple and set or immutable

In [56]:
s10={1,2,3,4,5,('hari',7,9,8)}
s10

{('hari', 7, 9, 8), 1, 2, 3, 4, 5}

In [57]:
s11={'Hari','hari',1.2,3,4,5}
s11

{1.2, 3, 4, 5, 'Hari', 'hari'}

In set we can't extract a values (It is not subscripatable) by slicing method

In [58]:
# we can't slice a set
s11[0]

TypeError: 'set' object is not subscriptable

we can extract (subscipte) element from set by using for loop

In [59]:
for i in s11:
    print(i)

1.2
hari
3
4
5
Hari

we can add a value by add() function

In [60]:
s11.add(34)

In [61]:
s11

{1.2, 3, 34, 4, 5, 'Hari', 'hari'}

In [62]:
len(s11)

7

Python Set pop() Method:

The pop() method removes a random item from the set. This method returns the removed item.

In [63]:
s11.pop()

1.2

In [64]:
s11

{3, 34, 4, 5, 'Hari', 'hari'}

Python Set difference() Method

The difference() method returns a set that contains the difference between two sets. Meaning: The returned set contains items that exist only in the first set, and not in both sets.

In [65]:
s12={1,2,3,4}
s13={1,2,3,9}

In [66]:
s12.difference(s13)

{4}

## Dictionary
    Dictionaries are used to store data values in key:value pairs.

        A dictionary is a collection which is ordered, changeable and do not allow duplicates.

        Mutable

Dictionaries are written with curly brackets, and have keys and values:

In [20]:
d={}

In [21]:
type(d)

dict

In [22]:
d1={'name':'Hari', 'email':'harikrishna_@hotmail.com','number':293195 ,'sex':'Male'}

In [23]:
d1[0]

KeyError: 0

In [67]:
d1['name']

'Hari'

In [ ]:
d1

{'name': 'Hari',
 'email': 'harikrishna_@hotmail.com',
 'number': 9488161195,
 'sex': 'Male'}

Dictionary items are ordered, changeable, and does not allow duplicates.

So have to give a unique key name, if not then value of the key will over wirted

In [25]:
d2={'name':'Hari','name':'krishna' ,'email':'harikrishna_@hotmail.com','number':9488161195,'sex':'Male'}

In [26]:
d2

{'name': 'krishna',
 'email': 'harikrishna_@hotmail.com',
 'number': 9488161195,
 'sex': 'Male'}

In [27]:
d2['name']

'krishna'

key can be boolean, numeric (integer,float ) but special case charactor not allowed to key of dictionaries

In [68]:
d3={@:'abc'}

SyntaxError: invalid syntax (<ipython-input-68-cf68af757c60>, line 1)

List's and Set's are not allowed to be key of dict., In case of tuple it's different

In [69]:
d3={[1,2,3,4]:'abc'}

TypeError: unhashable type: 'list'

In [70]:
d3={(1,2,3):'abc'}

In [71]:
d3

{(1, 2, 3): 'abc'}

In [72]:
d4={{1,2,3}:'abc'}

TypeError: unhashable type: 'set'

In case of values can use list,tuple,dictionary as values

In [74]:
d5={'course_name':['datas science','web dev','full stack']}
d5

{'course_name': ['datas science', 'web dev', 'full stack']}

In [76]:
d6={'course_name':('datas science','web dev','full stack')}
d6

{'course_name': ('datas science', 'web dev', 'full stack')}

In case of using dictionary as value of key of a dictionary, this action make a nested dictionary

In [77]:
d7={'student_Id':{'course_name':['datas science','web dev','full stack']}}
d7

{'student_Id': {'course_name': ['datas science', 'web dev', 'full stack']}}

In [82]:
d8={'batch name':['data science','full stack','web dev'],'start_date':(28,14,21),'mentor_name':{'krish','sudh','hitesh','navin'}}
d8

{'batch name': ['data science', 'full stack', 'web dev'],
 'start_date': (28, 14, 21),
 'mentor_name': {'hitesh', 'krish', 'navin', 'sudh'}}

In [83]:
d8['timing']=(8,8.30,9.30)

In [84]:
d8

{'batch name': ['data science', 'full stack', 'web dev'],
 'start_date': (28, 14, 21),
 'mentor_name': {'hitesh', 'krish', 'navin', 'sudh'},
 'timing': (8, 8.3, 9.3)}

In [85]:
type(d8['timing'])

tuple

In [86]:
type(d8['mentor_name'])

set

In [87]:
d9={'key':{'batch name':['data science','full stack','web dev'],'start_date':(28,14,21),'mentor_name':{'krish','sudh','hitesh','navin'}}}
d9

{'key': {'batch name': ['data science', 'full stack', 'web dev'],
  'start_date': (28, 14, 21),
  'mentor_name': {'hitesh', 'krish', 'navin', 'sudh'}}}

In [88]:
d9['key']

{'batch name': ['data science', 'full stack', 'web dev'],
 'start_date': (28, 14, 21),
 'mentor_name': {'hitesh', 'krish', 'navin', 'sudh'}}

we add a new values to dictionary

In [95]:
d9['name']='Hari'

In [96]:
d9

{'key': {'batch name': ['data science', 'full stack', 'web dev'],
  'start_date': (28, 14, 21),
  'mentor_name': {'hitesh', 'krish', 'navin', 'sudh'}},
 'name': 'Hari'}

we can use some inbuild operations too when extract key values of dictionary

In [97]:
d9['name'].upper()

'HARI'

By using del() function we can delete the particular value

In [98]:
del d9['name']
d9

{'key': {'batch name': ['data science', 'full stack', 'web dev'],
  'start_date': (28, 14, 21),
  'mentor_name': {'hitesh', 'krish', 'navin', 'sudh'}}}

By using clear() function we can clear the entrie dictionary and make empty

In [99]:
d9.clear()

In [100]:
d9

{}

In [101]:
d10={'batch name':['data science','full stack','web dev'],'start_date':(28,14,21),'mentor_name':{'krish','sudh','hitesh','navin'}}
d10

{'batch name': ['data science', 'full stack', 'web dev'],
 'start_date': (28, 14, 21),
 'mentor_name': {'hitesh', 'krish', 'navin', 'sudh'}}

Extracting keys only

In [102]:
d10.keys()

dict_keys(['batch name', 'start_date', 'mentor_name'])

Extracting values

In [103]:
d10.values()

dict_values([['data science', 'full stack', 'web dev'], (28, 14, 21), {'hitesh', 'sudh', 'krish', 'navin'}])

extracting both keys and values as list

In [104]:
list(d10.items())

[('batch name', ['data science', 'full stack', 'web dev']),
 ('start_date', (28, 14, 21)),
 ('mentor_name', {'hitesh', 'krish', 'navin', 'sudh'})]

copy()

    This method returns a shallow copy of the dictionary. It doesn't modify the original dictionary.

In [105]:
d11 = d10.copy()

In [106]:
d11

{'batch name': ['data science', 'full stack', 'web dev'],
 'start_date': (28, 14, 21),
 'mentor_name': {'hitesh', 'krish', 'navin', 'sudh'}}

In dictionary we can't use random pop() function which used in other, we have give parameter for this

In [107]:
d11.pop()

TypeError: pop expected at least 1 argument, got 0

In [108]:
d11.pop('mentor_name')

{'hitesh', 'krish', 'navin', 'sudh'}

In [109]:
d11

{'batch name': ['data science', 'full stack', 'web dev'],
 'start_date': (28, 14, 21)}

By using update() function we can update a dictionary

In [110]:
d12 = {"key1" : "value" , "key2" : "value2"}
d13 = {"key3" : "value3" , "key4" :"value4"}

In [112]:
d12.update(d13)
d12

{'key1': 'value', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}